* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  padding: 0 8px;
}

#navbar img {
  display: block;
  padding: 8px;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  max-width: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #182b49;
  color: white;
}

div {
  width: 100%;
  display: inline-block;
}

/* Sections */
.section-container img {
  max-width: 100%;
}

#Section1, #Section2, #Section3, #Section4 {
  scroll-margin-top: 178px;
  padding: 0 16px;
}

#Section1, #Section3 {
  background-color: rgb(245, 240, 230);
}

#Section2, #Section4{
  background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.wrapper div {
  background-color: #182b49;
  color: white;
  max-height: 500px;
  overflow: scroll;
  padding: 16px 8px;
}

#Section4 {
  padding-bottom: 32px;
}

#Section4 p {
  font-weight: bold;
  font-size: 32px;
}

#Section4 form {
  display: flex;
  gap: 6px;
  font-size: 20px;
}

/* Responsive Web Design */
@media (max-width: 800px) {
  #navbar a {
    display: none;
  }

  #navbar img {
    max-width: 75%;
  }

  h2 {
    font-size: 24px; /* CHANGE */
  }

  p {
    font-size: 20px;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}